{% extends 'blog/base.html' %}

{% block title %}Logged Out - Django Blog{% endblock %}

{% block content %}
    <section class="logout-page">
        <h1>Logout</h1>
        
        {% if user.is_authenticated %}
            <p>You are still logged in as {{ user.username }}. <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p>You have been successfully logged out.</p>
            <a href="{% url 'login' %}">Login again</a>
        {% endif %}
    </section>
{% endblock %}
